<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shortly - Terms of use</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<section class="relative isolate overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
        <h1 class="text-center text-xl font-semibold leading-8 text-gray-900 sm:text-2xl sm:leading-9" >Terms of use - Shortly</h1>
        <p class="mt-10 text-center text-s font-regular leading-8 text-gray-900 sm:text-1s sm:leading-9" >By leaving the data on the site, you voluntarily transfer them to us for use, we are not responsible for their safety, we do not guarantee the uninterrupted operation of the service, and the error-free operation of the service. The Service does not bear any responsibility for the data provided.</p>
    </div>
</section>
</body>
</html>